body{
    background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% );
}

h1{
    color:rgb(5, 5, 5);
    text-shadow: 4px -6px 0px rgba(247, 187, 9, 0.52);
    font-family: 'Zen Dots', cursive
}

a{
    font-family: 'Zen Dots', cursive;
    color: darkred;
}